@import url('https://fonts.googleapis.com/css?family=Cousine:400|Montserrat:300,400,600');
/*
 font-family: 'Space Mono', monospace;
 font-family: 'Cousine', monospace;
 font-family: 'Montserrat', sans-serif;
 */

html {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}
body {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #EEE;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

p {
  font-weight: 300;
  margin: 0 0 1em 0;
}

a,a:visited {
  text-decoration: none;
  color: #2996D1;
}
a:hover,a:active {
  color: #1F719E;
}

.tile-container {
  display: flex;
  flex-flow: row;
  margin-top: 12px;
}
a.tile {
  display: block;
  flex: 1 0;
  box-sizing: border-box;
  text-align: center;
  padding: 0 8px;
}
a.tile:hover {
  /*background: rgba(0,0,0,0.05);*/
}
a.tile:hover p,
a.tile:hover h1,
a.tile:hover h2 {
  transition: all 0.2s;
  color: #000000;
}

h1 { color: #EEE; font-size: 1.8em; letter-spacing: 0.02em; line-height: 1.4; margin: 1em 0 0.6em 0; text-shadow: 1px 1px 2px black; }
h2 { color: #666; font-size: 1.4em; letter-spacing: 0.02em; line-height: 1.4; margin: 1em 0 0.6em 0; }
h3 { color: #666; font-size: 1.2em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h4 { color: #666; font-size: 1.0em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h5 { color: #888; font-size: 1.0em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h6 { color: #888; font-size: 1.0em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }

ul,ol {
  margin: 0 0 1em 0;
  padding-left: 30px;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 4px;
}
li img {
  padding: 1em 1em 1em 0;
}

.hidden {
  display: none !important;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  background: transparent;
}
header nav {
  flex: 0 1 800px;
  max-width: 800px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul.left {
  display: inline-block;
}
header nav ul li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 0.9em;
}
header nav ul.left li {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 0.9em;
}
header nav ul li a {
  display: inline-block;
  padding: 16px 16px 16px 16px;
  border: none;
  transition: all 0.2s;
  color: #555;
}
header nav ul li a:visited {
  color: #555;
}
header nav ul li a:hover {
  text-decoration: none;
  background: rgba(0,0,0,0.25);
  color: #FFF;
}
header nav button#dropdown-button {
  display: block;
  border: none;
  background: none;
  font-size: 1.2em;
  color: #333;
  border-radius: 0px;
  cursor: pointer;
  padding: 9px 12px;
  margin: 3px 0 0 4px;
}

section#atf {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #5b5b5b;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
  box-shadow: 0 0 4px #696868;
}

section#atf .atf-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(0,rgba(0,0,0,0.6), rgba(0,0,0,0));
  padding: 8px 0;
}

section#atf .atf-content p.cover {
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.08px;
  margin-bottom: 0;
  font-size: 1.2em;
  text-align: center;
  padding: 6px;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
main .container {
  box-sizing: border-box;
  flex: 0 1 800px;
  padding: 0 16px;
  max-width: 100%;
}
main .container img {
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

footer {
  flex: 0 0 auto;
  text-align: center;
  font-size: 0.8em;
  color: #A0A0A0;
  padding-top: 20px;
}

div.arrow {
    width: 0;
    height: 0;
}
div.arrow.white {
    border-color: #EEE;
    color: #EEE;
}
div.arrow.down {
    margin: 0 auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid;
}

.flex {
  display: flex;
}
.flex.flow-row {
  flex-flow: row;
}
.flex.flow-col {
  flex-flow: column;
}

@media screen and (max-width: 750px) {
  header nav {
    display: block;
  }
  header nav ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  header nav ul.left li {
    font-size: 1.05rem;
  }
  header nav ul.right li {
    font-size: 0.6rem;
  }
  header nav ul.right li a {
    padding: 6px 8px;
  }
  header nav button#dropdown-button {
    margin-top: 5px;
  }
}
