@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots');

html {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  background: #FFFFFF;
}
body {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  color: #303030;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04em;
  transition: opacity 0.5s;
}
body.loading {
  opacity: 0;
}

p {}
p.centered-statement {
  width: 75%;
  font-size: 1.2em;
  margin: 0 auto;
}

a,a:visited {
  text-decoration: none;
  color: #303030;
}
a:hover,a:active {
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  color: #303030;
  font-family: 'Raleway Dots', serif;
  font-size: 3.6em;
  letter-spacing: 0.02em;

  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;

  text-align: left;
  text-shadow: 1px 1px 1px #E0E0E0;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.6em;
    margin-left: 30px;
    margin-bottom: 24px;
  }
}
h2 { color: #303030; font-size: 2.0em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h3 { color: #303030; font-size: 1.6em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h4 { color: #303030; font-size: 1.4em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h5 { color: #606060; font-size: 1.2em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h6 { color: #606060; font-size: 1.0em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }

ul,ol {
  margin: 0 0 1em 0;
  padding-left: 24px;
}
ul {
  list-style-type: none;
  padding-left: 6px;
}
li:not(.nav-item) {
  margin-bottom: 4px;
}
li img {
  padding: 1em 1em 1em 0;
}

.hidden {
  display: none !important;
}
.transparent {
  opacity: 0;
}
.opaque {
  opacity: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #FFFFFF;
}
header>nav {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 12px;
  background: transparent;
  transition: all 0.4s;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.2px;
  font-size: 1em;
}
header>nav #primary-nav {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
}
header>nav>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent;
}
header>nav>ul>li {
  display: inline-block;
  margin: 0;
}
header>nav>ul>li a,
header>nav>ul>li button {
  display: inline-block;
  padding: 0 24px;
  line-height: 48px;
  border: none;
  transition: all 0.2s;
  color: #303030;
  margin-top: 6px;
  border-bottom: 3px solid transparent;
}
header>nav>ul>li a:visited {
  color: #303030;
}
header>nav>ul>li a:hover {
  text-decoration: none;
  color: #303030;
  border-bottom: 3px solid #303030;
}
header>nav>ul>li a.toggle-menu {
  cursor: pointer;
}

nav#full-screen-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  transform: translateY(-100%);
  transition: transform 0.25s;
  background: #FFFFFF;
  z-index: 999;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav#full-screen-nav.visible {
  transform: translateY(0);
}
nav#full-screen-nav ul {
  font-size: 1.6em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}
nav#full-screen-nav ul li {
  line-height: 2.8em;
  margin: 0 12px;
}
nav#full-screen-nav ul li a {
  color: #303030;
}
nav#full-screen-nav ul li a:hover {
  color: #303030;
  text-decoration: none;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
main section.container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px dotted #C0C0C0;
}
main section#atf {
  /* height: 100vh; */
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

footer {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.social-media-nav {
  background: #FFFFFF;
  color: #303030;
}
.social-media-nav li a,
.social-media-nav li a:visited {
  line-height: 80px;
  padding: 0 24px;
  color: #303030;
}
.social-media-nav li a:active,
.social-media-nav li a:hover {
  color: #303030;
}
footer p.copyright {
  text-align: center;
  font-size: 0.85em;
  color: #666;
  margin: 40px 0 30px 0;
}
